<!-- o ejs sempre renderiza utiliza e renderiza o arquivo 'layout.ejs' como padrão para todas as páginas sendo elas diferenciadas 
apenas pelos 'definecontents'
 -->
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- include('header') %> <!-- inclui o arquivo 'header.ejs' nessa parte da página -->

    <%- defineContent('header-end') %> <!-- Aqui entra tudo oq for definido pelo 'contentfor' do header end -->

    <link rel="stylesheet" href="/css/responsive.css">

</head>

<body>
    <div class="container-fluid">

        <%- body %>

    </div>

    <%- include('scripts') %> <!-- inclui o arquivo 'scripts.ejs' nessa parte da página -->

    <%- defineContent('body-end')%> <!-- Aqui entra tudo oq for definido pelo 'contentfor' do body end -->

    <%- defineContent('modal-end') %> <!-- Aqui entra tudo oq for definido pelo 'contentfor' do modal end -->

    <script>
            //pequena função de validação para o formulário de id 'form' com algumas regras básicas
        $("#form").validate({
            rules: {
                name: {
                    required: false,
                    maxlength: 50
                },
                type: {
                    required: false,
                    maxlength: 50
                },
                value: {
                    required: false
                }
            },



            submitHandler: function (form) {

                if ($.active) return
                //pega do formulário os dos campos representados pelos seus respectivos IDs
                let name = $("#name")
                let type = $("#type")
                let value = $("#value")

                name = name.val()
                type = type.val()
                value = parseFloat(value.val())
                // salva os dados obtidos do form no objeto 'transaction'
                var transaction = {
                    name: name,
                    type: type,
                    value: value
                }

                $.ajax({
                    // posta o json do objeto 'transaction' na url /criar
                    url: "/api/conta/criar",
                    method: "post",

                    data: JSON.stringify(transaction), //transforma o objeto em json

                    processData: false,

                    contentType: "application/json",

                    success: function (dadosDeRetorno) { //se obtivermos sucesso com os métodos a janela volta para a homepage

                        setTimeout(() => { window.location = "/" }, 1) 
                    },

                    error: function (xhr) {

                        try {

                            alert(JSON.parse(xhr.responseText));

                        } catch (err) {

                            alert("Algo deu errado");
                        }
                    }
                })
            }
        })

    </script>

</body>

</html>